<form [formGroup]="PeriodeForm" (ngSubmit)="sendData(PeriodeForm.value)">

  <div class="form-group">

    <label for="periodeDebut">Période de début</label>
    <input type="date" name="periodeDebut" [value]="PeriodeForm.periodeDebut.value" class="form-control" formControlName="periodeDebut">
    
    <label for="periodeFin">Période de fin</label>
    <input type="date" name="periodeFin" class="form-control" [value]="PeriodeForm.periodeFin.value" formControlName="periodeFin">

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Recharger le graphique</button>
  </div>

</form>