.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

body{
    margin: 0px;
    padding: 0px;
  }
  
  /*==============MultiLines Chart===============*/
  
  .chartMultiLines{
    width: 100%;
    height: 800px;
  }
  
  .chartMultiLines .axis-xML path {
    display: none;
  }
  .chartMultiLines .axis-yML path {
    stroke: #DDD;
  }
  
  .chartMultiLines .axis path {
    stroke: none;
  }
  
  /*.chartMultiLines .x .domain {
    stroke: #DDD;
  }*/
  
  .tick text{
    fill: #000000;
    font: 12px "Helvetica", Arial, sans-serif;
  }
  
  .tick line{
    stroke: rgba(58, 58, 58, 0.22);
  }
  
  .chartMultiLines .lineML {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .legend{
    width: 100%;
    height: 100%;
    font: 15px "MS Reference Sans Serif Regular", Helvetica, Arial, sans-serif;
    color: #000000;
  }
  
  .subLegend{
    width: 100%;
    height: 100%;
    font: 15px "MS Reference Sans Serif Regular", Helvetica, Arial, sans-serif;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
  }
  .rect {
    fill:none;
  }
  
