<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        <img src="../../assets/images/preventAcc.png" />
      </h1>
      <p class="lead text-muted">
        Projet Tutoré S5 Accidents de la route 2012 - 2016
      </p>
    </div>
  </section>

  <div class="container">

    <div class="row">
      <div class="card-deck">
        <div class="card bg-dark" style="width: 18rem;" *ngFor="let graphe of graphes">
          <img class="card-img-top" src="../../assets/images/test.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color:white;">{{ graphe.titre }}</h5>
            <p class="card-text" style="color:white;">{{ graphe.explication }}</p>
            <a href="{{ graphe.lien }}" class="btn btn-primary">Voir le graphique</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>